
.MuiDataGrid-main,
.MuiToolbar-root {
  color: aliceblue;
}

.MuiDataGrid-root {
  border-color: aqua !important;
}
.MuiTabs-flexContainer {
  background-color: #0d4150;
  color: #ccc;
  border-bottom: 1px solid rgb(35, 99, 155);
}
.PrivateTabIndicator-colorSecondary-3 {
  background-color: aqua !important;
}

.MuiDataGrid-renderingZone {
  max-height: none !important;
}
.MuiDataGrid-cell {
  line-height: unset !important;
  max-height: none !important;
  white-space: normal;
}
.MuiDataGrid-row {
  max-height: none !important;
}

.MuiSvgIcon-root{
    color:aliceblue
}